:root {
  --main-color: #ff9800;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
section {
  min-height: 70vh;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: rgba(66, 66, 66, 25%);
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.5s ease;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 150px;
  background-color: rgba(66, 66, 66, 25%);
  padding: 8px 0;
  width: 30px;
  text-align: center;
  cursor: pointer;
  color: var(--main-color);
  font-size: 15px;
}
/* Colors */
.settings-box .option-box {
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}
.settings-box .option-box h4 {
  color: #666;
  font-size: 0.8rem;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
}
.settings-box .option-box .colors-list li {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 20%;
  display: inline-block;
  margin-top: 10px;
  transition: 0.5s ease;
}
.settings-box .option-box .colors-list li.active,
.settings-box .option-box .colors-list li:hover {
  opacity: 1;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
/* Random Backgrounds */
.settings-container button {
  background-color: var(--main-color);
  color: #fff;
  padding: 4px 10px 4px;
  width: 50px;
  font-size: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 50%;
}
.settings-container button.active {
  opacity: 1;
}
.settings-container .rest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.settings-container .rest button {
  background-color: red;
  width: 100%;
  height: 35px;
  font-weight: bold;
  opacity: 1;
  margin-top: 0;
}
.settings-container .rest button:hover {
  background-color: rgba(255, 0, 0, 0.822);
}
/* End Settings Box */

/* Start Bullets */
.bullets {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.bullets ul {
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  list-style: none;
}
.bullets ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  position: relative;
  text-decoration: none;
  transition: 0.5s ease;
}
.bullets ul li a:hover span {
  display: inline-flex;
}
.bullets ul li a:hover,
.bullets ul li a.active {
  background-color: #000;
}
.bullets ul li a span {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -180px;
  top: -15px;
  color: #fff;
  background-color: var(--main-color);
  width: 150px;
  height: 50px;
  font-weight: bold;
}
.bullets ul li a span::after {
  content: "";
  position: absolute;
  top: 15%;
  right: -19px;
  background-color: var(--main-color);
  width: 20px;
  height: 70%;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
/* End Bullets */

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(66, 66, 66, 25%);
  width: 100%;
}
.landing-page .overlay {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
}
.header-area .logo img {
  width: 50px;
  border-radius: 50%;
  padding: 4px;
  margin: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.header-area .links-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header-area .links {
  text-align: right;
  list-style: none;
  font-size: 20px;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toggle-menu {
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
  display: none;
  position: relative;
  outline: none;
}
.header-area .toggle-menu.menu-active::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  display: block;
  height: 45px;
  border: 17.5px solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}
.header-area .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #fff;
  width: 80%;
}
.introduction-text h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 26px;
  }
}
.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
}
/* End Landing Page */

/* Start About me */
.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  min-height: 70vh;
}
@media (max-width: 575px) {
  .about-me {
    display: block;
    text-align: center;
  }
}
.about-me .info-box {
  flex: 1;
  padding: 30px 30px 30px 0;
}
.about-me .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.about-me .info-box p {
  line-height: 1.8;
  color: #767676;
  text-align: justify;
}
.about-me .image-box {
  flex: 1;
  text-align: center;
}
.about-me .image-box img {
  width: 250px;
}
/* End About me */

/* Start My Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  width: 100%;
  display: flex;
  align-items: center;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px 0;
  height: 40px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 150px;
  text-align: center;
  line-height: 30px;
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #efefef;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}
/* End My Skills */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  margin: 5px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  position: relative;
}
.popup-box img {
  width: 600px;
  margin-top: 10px;
}
.popup-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  margin: 10px 0;
}
.close-popup {
  position: absolute;
  top: -25px;
  right: -25px;
  color: #fff;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
/* End Gallery */

/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  top: 20px;
  border-radius: 50%;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  line-height: 1.8;
  text-align: justify;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  top: 20px;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent var(--main-color);
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent var(--main-color) transparent transparent;
  left: -20px;
}
/* End Timeline */

/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 60px;
  text-align: center;
}
.features .container {
  display: flex;
  flex-wrap: wrap;
}
.features .feat-box {
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
}
.features .feat-box img {
  width: 100px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  top: 42px;
  margin-left: -20px;
}
.features .feat-box p {
  line-height: 1.8;
  color: #706f6f;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
}
.testimonials::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
}
.testimonials::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
}
.testimonials .container h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.testimonials .container .content {
  display: flex;
  position: relative;
  z-index: 2;
}
.testimonials .container .box {
  position: relative;
  width: calc(100% / 3);
  background-color: #fff;
  padding: 20px;
  margin: 0 10px;
}
.testimonials .container .box > p {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}
.testimonials .container .box .person-info {
}
.testimonials .container .box .person-info img {
  width: 100px;
  margin: 10px 0;
  height: 130px;
  padding: 6px;
  background-color: #ccc;
  border-radius: 50%;
}
.testimonials .container .box .person-info h4 {
  font-size: 22px;
  margin: 10px 0;
}
.testimonials .container .box .person-info p {
  text-align: justify;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}
/* End Testimonials */

/* Start Contact Me */
#contact {
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}
#contact .container {
  position: relative;
  z-index: 1;
}
#contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
#contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 60px;
  text-align: center;
}
#contact form {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}
#contact form .left {
  width: 49%;
}
#contact form .right {
  width: 49%;
}
#contact form input:not([type="submit"]),
#contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
#contact form input:not([type="submit"]):focus,
#contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
#contact form input {
  height: 40px;
}
#contact form textarea {
  height: 150px;
}
#contact form textarea:focus::-webkit-input-placeholder,
#contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.5s ease;
}
#contact form textarea:focus:-ms-input-placeholder,
#contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: 0.5s ease;
}
#contact form textarea:focus::placeholder,
#contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.5s ease;
}
#contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
/* End Contact Me */

/* Start Grid System */
@media (max-width: 575px) {
  .container {
    width: 90%;
  }
  /* .about-me {
    display: block;
    text-align: center;
  } */
}
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    border-radius: 10px;
  }
  .header-area .links.open li {
    margin: 15px 0;
    display: block;
    text-align: center;
  }
  .header-area .toggle-menu {
    display: block;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
